body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background-image: url("https://thumbs.dreamstime.com/b/calendario-de-pared-con-el-n%C3%BAmero-d%C3%ADas-y-reloj-113929549.jpg");
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: rgb(255, 255, 255);
    margin-top: 150px;
    padding: 3px;
}
h4{
    text-align: center;
    color: #020e22;
    font-size: 15px;
    background-color: #fff;

}
h1{
    text-align: center;
    color: #043179;
    font-size: 40px;
}
input[type="text"]
{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}



@media(min-width:768px)
{
    






















