
  
  
  h1{
    text-align: center;
    color: #043179;
    font-size: 40px;
  }
  h5{
    text-align: center;
  }
  .button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
  
  .galeria-work{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cont-work{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(15, 35, 151, 0.5);
    height:300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
  }
  
  .img-work{
    height: 50%;
    width: 90%;
  }
  
  .img-work img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background-image: url("https://img.freepik.com/vector-gratis/fondo-vector-degradado-azul-claro-invierno_53876-126054.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
}